.primary-color {
    color: #BDA34D;
}
.footer-bg{
    background-color: #f9edd5;
}
.header-top {
    background-color: #F9F7F3;
    padding: 20px 0px;
    color: #D0BD80;
}

.left {
    margin-right: 10px;
}

.navigation-bar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner-slider img {
    height: 500px;

}
.footer-btn a{
    text-decoration: none;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#dev {
    background-color: #fff;
    color: #D0BD80;
    padding: 0px 5px;
}

.inner-icon {
    width: 150px;
}

.banner-slider .icon {
    font-size: 50px;
}

.count {
    font-size: 30px;
    margin-top: -9px;
}

.detiles {
    margin-top: -15px;
    font-size: 13px;
    text-align: left;
    text-transform: uppercase;
}

.service span {
    width: 40px;
    height: 40px;
    border: 2px solid #D0BD80;
    border-radius: 50%;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 20px;
}
.post-btn a{
    text-decoration: none;
    color: #BDA34D;
}
.post-btn a{
    text-decoration: none;
    color: #BDA34D;
}
.post-btn a{
    text-decoration: none;
    color: #BDA34D;
}
.footer-btn a{
    text-decoration: none;
    color: #BDA34D;
}
.footer-menu li{
    list-style: none;
}
.footer-menu li a{
    text-decoration: none;
    color: black;
}
.info li{
    list-style: none;
    padding-bottom: 20px;
}
.footer-button{
    background-color: #bda34d;
}
.footer-icon{
    padding-top: 15px;
    padding-right: 20px;
    font-size: 20px;
    color: #fff;
}
.button{
    background-color:#bda34d;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.get-in-touch input{
    background-color: #fff9ef;
}.get-in-touch textarea{
    background-color: #fff9ef;
}